{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur la Billeterie !{% endblock %}

{% block body %}

    <section class="section">
    <div class="container">

        {{ form_start(orderForm) }}

        <div class="form-group row">
            <div class="col-sm-10">
                {{ form_row(orderForm.tourAt, { 'attr': { 'class': 'tourAt'} }) }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10">
        {{ form_row(orderForm.fullday) }}
        </div>
    </div>

        <div class="row">

            <div class="col-sm-11">
                <button type="submit" class="btn btn-primary">Valider</button>
                {{ form_end(orderForm) }}
            </div>


        </div>

    </div>
    </section>

{% endblock %}