{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur la Billeterie !{% endblock %}

{% block body %}

    <div class="container">


        <div class="row">
            <div class="col-md-6">
            <h2>Coordonnées de l'acheteur :</h2>
            </div>
            <div class="col-md-6">
                <h2>Adresse de facturation :</h2>
            </div>
            <div class="col-md-12 text-center">
                <h2>Récapitulatif de votre commande : </h2>
            </div>

            <div class="row">
                <div class="col-md-12">

                    <button type="submit" class="btn btn-primary">Payer ma commande</button>

                </div>
            </div>


        </div>


    </div>

{% endblock %}