{% extends 'base.html.twig' %}

{% block title 'Billeterie Musée du Louvre' %}

{%  block body %}
    <div class="jumbotron text-center">
           <div class="gradient">
               <header class="row header">
                   <div class="col-lg-12">
                       <h1>Bienvenue sur la billeterie du Musée du Louvre</h1>
                   </div>
               </header>

               <div class="row">
                   <div class="col-lg-12">
                       <a href="{{ path('order') }}" class="button btn btn-primary">Achetez vos billets</a>
                   </div>
               </div>
           </div>
    </div>
{% endblock %}