<h3>Bonjour,</h3>

<h4>Vous avez reçu un nouveau message via le formulaire de contact</h4><br />


<table>
    <tr>
        <td>Nom : </td>
        <td>{{ contact.lastname }}</td>
    </tr>
    <tr>
        <td>Prénom : </td>
        <td>{{ contact.name }}</td>
    </tr>
    <tr>
        <td>Email : </td>
        <td>{{ contact.email }}</td>
    </tr>
    <tr>
        <td>Message : </td>
        <td>{{ contact.message }}</td>
    </tr>
</table>




